.image-scroller {
  display: block;
  width: 100vw;
  .image {
    position: absolute;
    width: 100vw;
    text-align: center;
    padding: 8px;
    background-color: $LIGHT-GREY;
    height: calc(100vh - #{$TOOLBAR-HEIGHT} - #{$PADDING-OFFSET} - #{$PADDING-OFFSET});
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
    }
    & + .image {
      left: 100vw;
    }
    &.image-scroll-leave {
      left: 0;
      & + .image {
        left: 100vw;
      }
      &.image-scroll-leave-active {
        left: -100vw;
        transition: left 1s ease;
        & + .image {
          left: 0;
          transition: left 1s ease;
        }
      }
    }
  }
}
