$BLACK: #000;
$GREY: #666;
$LIGHT-GREY: #ccc;
$LIGHT-BLUE: #ccf;
$MED-GREY: #aaa;
$WHITE: #fff;

$TOOLBAR-HEIGHT: 88px;
$PADDING-OFFSET: 16px;
$IMAGE_SCROLLER-HEIGHT: calc(100vh - 32px - #{$TOOLBAR-HEIGHT} - #{$PADDING-OFFSET} - #{$PADDING-OFFSET});
